.calendar {
  text-align: center;
  max-width: 800px;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  color: #5d001e;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-date-title {
  display: flex;
  flex-direction: column;
}

.calendar-date-label {
  margin: 0
}

.calendar-day {
  padding: 50px;
  border: 1px solid #5d001e;
  text-align: center;
  cursor: pointer;
}

.calendar-day-header {
  background-color: #5d001e;
  color: white;
  padding: 8px;
  border-radius: 24px;
}

.calendar-day.today {
  background-color: lightgreen;
}

.calendar-day.selected {
  background-color: lightblue;
}

.calendar-day-header {
  font-weight: bold;
}

.weekly-view .calendar-day {
  height: 100px;
}