.calendar-root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 70%;
}

.calendar-year {

}

.calendar {
  text-align: center;
  width: 100%;
}

.calendar-header {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  color: #5d001e;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-date-title {
  display: flex;
  flex-direction: column;
}

.calendar-date-label {
  margin: 0
}

.calendar-day {
  padding: 30px;
  border: 1px solid #5d001e;
  text-align: center;
  cursor: pointer;
}

.calendar-day-header {
  background-color: #5d001e;
  color: white;
  padding: 8px;
  border-radius: 24px;
}

.calendar-day.today {
  background-color: lightgreen;
}

.calendar-day.selected {
  background-color: lightblue;
}

.calendar-day-header {
  font-weight: bold;
}

.weekly-view .calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
}