.calendar-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(60% - 48px);
  height: calc(100% - 44px);
  padding: 8px 24px;
  border: 2px solid #4056A1;
  border-radius: 10px;
}

.calendar-year{
  color: #4056A1;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
}

.calendar-section {
  width: 100%;
}

.calendar {
  text-align: center;
  width: 100%;
}

.calendar-header {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  color: #5d001e;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-date-title {
  display: flex;
  flex-direction: column;
}

.calendar-date-label {
  color: #4056A1;
  margin: 0
}

.calendar-day {
  padding: 18px;
  border: 1px solid white;
  color: white;
  text-align: center;
  cursor: pointer;
}

.calendar-day-header {
  background-color: #4056A1;
  color: white;
  padding: 8px;
  border-radius: 24px;
}

.calendar-day.today {
  background-color: #41c95f !important;
}

.calendar-day.selected {
  background-color: #8540c8 !important;
}

.calendar-day.has-notes {
  background-color: #d6014f;
}


.calendar-day-header {
  font-weight: bold;
}

.weekly-view .calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-legend {
  display: flex;
  flex-direction: column;
}
