.note-input {
    margin-bottom: 20px;
    height: 45%;
  }

  .action-buttons {
    display: flex;
    gap: 16px
  }
  
  .note-input textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .note-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .note-input button {
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
  }
  
  .note-input button:hover {
  }

  .label-allday {
    color: white;
  }
  