.App {
  height: 100%;
  font-family: Arial, sans-serif;
}


.main {
  height: 90%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 24px;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}
