.App {
  height: 100%;
  font-family: Arial, sans-serif;
}


.main {
  height: calc(94% - 40px);
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 24px 24px 0 24px;
  background: #000000;
}

.allnotes {
  height: calc(94% - 40px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 24px 0 24px;
  background: #000000;
}
  

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.information {
  height: calc(94% - 40px);
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 24px 24px 0 24px;
  background: #000000;
}
